[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

# -------------------------------------------------
# Environment Variables
# -------------------------------------------------
[build.environment]
  NODE_VERSION = "20" # Recommended for Next.js 16 runtime
  NEXT_PUBLIC_POSTHOG_KEY = "phc_xQ00vQRnTyva7QQuGeffmS6eK6KwxhdQMnWSkI1K10z"
  NEXT_PUBLIC_POSTHOG_HOST = "https://us.i.posthog.com"
  NEXT_PUBLIC_BASE_URL = "https://lorial.netlify.app/"
  IMAGEKIT_PUBLIC_KEY = "public_MJbtw5xSPCRpin71xCLRib3m33c="

# -------------------------------------------------
# Optional: Functions Settings (for ISR & Server Actions)
# -------------------------------------------------
[functions]
  node_bundler = "esbuild"
  external_node_modules = ["mongoose", "imagekit", "posthog-js"]
  included_files = ["dist/**", "app/**", "lib/**"]